.header-card {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

ion-content {
  --overflow: hidden;
  --ion-background-color:#feeff1;
}

.ion-card-color {
  background: white;
}