<ion-content>
  <ion-header style="display: initial; position: inherit;">
    <ion-card class="header-card ion-card-color">
      <hr>
      <ion-card-header>
        <ion-card-title><span style="color: #824042;">SETTINGS</span></ion-card-title>
      </ion-card-header>
    </ion-card>
  </ion-header>
  
  <ion-grid>
    <ion-card class="ion-card-color">
      <ion-card-content>
        <span style="color:#826569">
          <p> Questa applicazione non vuole essere seria, ma vuole provare ad essere un modo per alleggerire le situazioni di vita che stiamo vivendo.
            Non vuole offendere nessuno, anzi, spera di sensibilizzare le persone alle tematiche attuali e ad essere sempre più rispettoso del prossimo. </p>
          <h1>
            Vogliamoci più bene
          </h1>
        </span>
      </ion-card-content>
    </ion-card>
  </ion-grid>
  
</ion-content>